<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Cliente</title>
    <link rel="stylesheet" href="/style.css">
    <script>
        document.addEventListener("DOMContentLoaded", () => {
          // Aplica o tema salvo em todas as páginas
          if(localStorage.getItem("tema") === "dark") {
            document.body.classList.add("dark");
          }
        });
      </script>
</head>
<body>
<h1>Cadastrar Cliente</h1>

<form th:action="@{/clientes}" th:object="${cliente}" method="post">
    <label>Nome:</label><br>
    <input type="text" th:field="*{nome}" required /><br><br>

    <label>Telefone:</label><br>
    <input type="text" th:field="*{telefone}" required /><br><br>

    <button type="submit">Salvar</button>
    <a href="/clientes">Cancelar</a>
</form>
</body>
</html>
