<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Novo Agendamento · Agendaí</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
  
  <nav>
    <a href="/">Início</a>
    <a href="/agendamentos">Agendamentos</a>
    <a href="/novo">Novo Agendamento</a>
    <a href="/clientes">Clientes</a>
    <a href="servicos.html">Serviços</a>
    <a href="profissionais.html">Profissionais</a>
    <a href="configuracoes.html">Configurações</a>
    <a href="sobre.html">Sobre</a>
    <a href="/clientes/novo">Novo Cliente</a>
  </nav>
  <h1>Novo Agendamento</h1>

  <form th:action="@{/salvar}" th:object="${agendamento}" method="post">
    <label>Cliente:</label>
    <input type="text" th:field="*{cliente}" required><br>

    <label>Serviço:</label>
    <input type="text" th:field="*{servico}" required><br>

    <label>Data e Hora:</label>
<input type="datetime-local" th:field="*{dataHora}" step="60" required><br>

    <button type="submit">Salvar</button>
</form>

</div>
<script src="/app.js"></script>
</body>
</html>