<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Sobre · Agendaí</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <nav class="nav-menu">
      <a href="/">Agendamentos</a>
      <a href="/clientes">Clientes</a>
      <a href="/profissionais" class="ativo">Profissionais</a>
      <a href="/sobre">Sobre</a>
      <a href="/configuracoes">Configurações</a>
    </nav>
  </header>


  <main>
    <h1>Sobre o Agendaí</h1>
    <p>O <strong>Agendaí</strong> é um sistema simples e eficiente para gerenciamento de agendamentos.</p>

    <p style="     bottom: 1px;
    right: 1px;
    position: fixed;">Versão 1.0 · Desenvolvido por <strong>Tiago Carvalho</strong> 💻</p>
  </main>
  <script>  document.addEventListener("DOMContentLoaded", () => {
    // Aplica o tema salvo em todas as páginas
    if(localStorage.getItem("tema") === "dark") {
      document.body.classList.add("dark");
    }
  });</script>
</body>
</html>
