<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <title>Sobre · Agendaí</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <nav>
      <a href="/">Início</a>
      <a href="/agendamentos">Agendamentos</a>
      <a href="/novo">Novo Agendamento</a>
      <a href="/clientes">Clientes</a>
      <a href="servicos.html">Serviços</a>
      <a href="profissionais.html">Profissionais</a>
      <a href="configuracoes.html">Configurações</a>
      <a href="sobre.html">Sobre</a>
      <a href="/clientes/novo">Novo Cliente</a>
      <a href="/calendario">Calendario</a>
    </nav>
    <hr>
    <h1>Sobre</h1>
    <p>Sobre o sistema Agendaí</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ratione eos officiis earum ullam corrupti ipsa
      nam cumque, voluptates maiores quia minus odit fugit, vel aliquid ea dolorum deleniti tenetur!</p>
  </div>
  <script src="/app.js"></script>
</body>

</html>